/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   line-height: 1.6;
   font-family: "helvetica";
   color: #333;
   background-color: #7C4DB0;
   color: #2F134F;

 }

 section {
   padding: .5em 2em;
 }

 a {
   color: #FFECC1;
 }

 a:visited {
   color: #CC9A53;
 }

 header {
   height: 3em;
   color: #7C4DB0;
   background-color: #2F134F;
   text-align: center;
   overflow: hidden;
 }

 header > div{
   float: right;
   width: 6em;
   margin-right: 5%;
 }

 header > a > div{
   float: right;
   width: 6em;
 }

 header > a > div:hover{
   color: #7C4DB0;
   background-color: #CC9A53;
 }

 header > a > div.top-bar-home {
   float: left;
   margin-left: 1.5em;
 }

 .feels_bar {
   overflow: hidden;
 }

 .feelings {
   float:left;
 }

.page_bar{
  overflow: hidden;
}

 .page_bar > a {
   display: block;
   float: left;
   margin: 1em 17%;
   width: 6em;
 }
